<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nedu.android_ui_17_activitygroup"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" 
    android:label="@string/app_name"
    android:theme="@style/appTheme">
        <activity android:name=".MainView"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".OneView"></activity>
		<activity android:name=".TwoView"></activity>
		<activity android:name=".ThreeView"></activity>
		<activity android:name="com.nedu.android_ui_17_activitygroup.FourView"></activity>
    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 